<div class="container">

	<div class="input-append dropdown combobox">
		<input class="span2" type="text"><button class="btn" data-toggle="dropdown"><i class="caret"></i></button>
		<ul class="dropdown-menu">
			{{#each colors}}
				<li><a href="#">{{this}}</a></li>
			{{/each}}
		</ul>
	</div>

</div>