<div class="select btn-group" data-resize="auto">
	<button data-toggle="dropdown" class="btn dropdown-toggle"><span class="dropdown-label"></span><span class="caret"></span></button>
	<ul class="dropdown-menu">
		{{#each this}}
		<li><a href="#">{{this}}</a></li>
		{{/each}}
	</ul>
</div>