<div class="spinner">
	<input type="text" class="input-mini spinner-input">
	<div class="spinner-buttons  btn-group btn-group-vertical">
		<button class="btn spinner-up">
			<i class="icon-chevron-up"></i>
		</button>
		<button class="btn spinner-down">
			<i class="icon-chevron-down"></i>
		</button>
	</div>
</div>